<div class="container">
    {{> header}}
    {{#if hasNoTeam}}
        <a href="#/create" class="btn btn-default btn-outline-primary mt-3">Create Team</a>
    {{/if}}
    <h1 class="mt-3">Catalog Page</h1>
    <div>
        {{#each teams}}
            {{> team}}
        {{/each}}
    </div>
</div>
{{> footer}}
