{{#if isAuthor}}
    <a href="#/edit/:{{teamId}}" class="btn btn-primary">Edit Info</a>
{{/if}}
{{#if isOnTeam}}
    <a href="#/leave" class="btn btn-primary">Leave Team</a>
{{else}}
    <a href="#/join/:{{teamId}}" class="btn btn-primary">Join Team</a>
{{/if}}